.poster {
  width: 80px;
}

.samping {
  float: left;
}

.table > tbody > tr > * {
  vertical-align: middle;
}

.cardview {
  width: 500px;
  margin: auto;
  margin-top: 55px;
  padding: 15px;
  border-radius: 10px;
}

.button {
  width: 360px;
  border-radius: 30px;
}
